.checkout-item {
    width: 100%;
    display: flex;
    min-height: 200px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 75%;
        height: 75%;
      }
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }
  
    .quantity {
      display: flex;
      padding-left: 20px;
      
      
      .arrow {
        cursor: pointer;
        &:hover{
          transform: scale(1.2);
          transition: transform .1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
      }

      .value {
        margin: 0 10px;
      }
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }
  